@import 'reset';
@import 'vars';
@import 'fonts';
@import 'modal';
@import 'tooltip';

%pointer {
  cursor: pointer;
}

%inset {
  background: linear-gradient(to right, #b9b9b9, #565656);
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  border: 2px inset;
  border-color: gray darkslategrey darkslategrey gray;
}

body {
  background-color: $body-color;
}

.game {
  width: 100%;
  background-color: $game-color;
  min-height: 35rem;
  font-family: 'Kolker Brush', cursive;
}

h1 {
  color: red;
  display: inline-block;
  padding: 1rem;

  &.next {
    color: $main-color;
  }
}

p {
  display: inline;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  margin-top: 13%;
  line-height: 5rem;
}

.info {
  color: white;
  font-size: 1.75rem;
  text-align: center;
  margin-top: .8em;
  margin-bottom: .8em;
}

.field {
  display: grid;
  justify-content: center;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(6.25rem, 6.25rem));
  background-color: $cell-color;
  padding: clamp(5px, 20px, .625rem);
}

.cell {
  background-color: $game-color;
  color: white;
  border: 2px solid $cell-color;
  min-width: 6.25rem;
  min-height: 6.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.25rem;
  @extend %pointer;
}

.X {
  color: $x-color;
}

.O {
  color: $o-color;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: clamp(1rem, 2.5rem, 1.5rem);
  padding-bottom: 1rem;
}

.btn {
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  @extend %pointer;
  font-size: 1.2rem;
  border-radius: 5px;
}

.inset {
  @extend %inset;
  color: transparent;
}

.set {
  @extend %inset;
  color: whitesmoke;
  padding: 10px 13px;
}

#reset {
  color: white;
  border: blueviolet;
  background: blue;
  transition: all ease 1.2s;
  transition-property: filter, transform, color;

  &:hover {
    background-color: violet;
    filter: drop-shadow(0.25rem 0 0.75rem #ef9035);
    transform: perspective(50em) rotateY(50deg);
    color: gold;
  }
}
